html,
body {
  height: 100%;
}

/* Posiciona o container geral dos ícones */
.acessibilidade-container {
  position: fixed;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;

  /* Organiza os ícones um abaixo do outro com espaço */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

/* Força os widgets a obedecerem ao layout do container */
.acessibilidade-container > [vw],
.acessibilidade-container > .tts-fab {
  position: static !important;
}

/* Animação de pulo para o botão do VLibras (o de voz já tem a sua) */
.acessibilidade-container [vw-access-button] {
  transition: transform 0.2s ease-in-out;
}
.acessibilidade-container [vw-access-button]:hover {
  transform: translateY(-5px);
}

/* Centraliza o painel do VLibras quando ele é aberto */
div[vw-plugin-wrapper] {
  top: 5vh !important; /* Posição a partir do topo (5% da altura da tela) */
  right: 5px !important; /* Distância da borda direita da tela */
  left: auto !important;
  bottom: auto !important;
  transform: none !important; /* Remove qualquer transform conflitante */
}

@media(max-width: 1080px){

  /* Posiciona o container geral dos ícones */
.acessibilidade-container {
  left: 0%;
}

.acessibilidade-container {

  width: 100px;
  left: 90%;
}

}