#faixaTittleBox{
    margin-top: 120px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: white;
    height: 152px;

}

#faixaTittleBox img{
    width: 30%;
    height: 90%;
}


#faixaTittleBox h1{
    font-weight: 700;
    color: white;
    text-align: center;
}

