@font-face{
    font-family: 'Nunito';
    src: url(../STATIC/FONTS/Nunito-VariableFont_wght.ttf) format(trueType);
    font-weight: 100 900;
    font-style: normal;
}

*{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}