* {
  padding: 0;
  margin: 0;
  border: 0;
}

main {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}

#inicio {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  background-image: url(../IMG/joao-reguengos-WqasS6cw3wo-unsplash\ 1.png);
  width: 100%;
  height: 1000px;
}

#inicio p {
  text-align: center;
  width: 60%;
  color: white;
  margin: auto;
  font-size: 40px;
  margin-top: 150px;
}

section #encontre {
  background: orange;
  border-radius: 5px;
  border: 2px solid orange;
  height: 86px;
  width: 484px;
  font-size: 24px;
  transition: all 0.3s;
  font-weight: bold;
  color: white;
}

section #encontre:hover {
  background: none;
  height: 86px;
  width: 484px;
  color: white;
  cursor: pointer;
}

#subtitulo {
  position: absolute;
  top: 930px;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 67px;
  background: #fe9516;
  border-radius: 5px;
  border: 5px solid #db780f;
  padding: 7px;
  font-weight: bold;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#subtitulo3{
  margin: 125px  auto 80px auto;
  width: 900px;
  height: 67px;
  background: #FE9516;
  border-radius: 5px;
  border: 5px solid #DB780F;
  padding: 7px;
  font-weight: bold;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  

}

#subtitulo3{
  margin: 125px  auto 80px auto;
  width: 900px;
  height: 67px;
  background: #FE9516;
  border-radius: 5px;
  border: 5px solid #DB780F;
  padding: 7px;
  font-weight: bold;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  

}

#subtitulo2 {
  position: absolute;
  top: 1800px;
  left: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 67px;
  background: #fe9516;
  border-radius: 5px;
  border: 5px solid #db780f;
  padding: 7px;
  font-weight: bold;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

#botao {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#adocao_pets {
  width: 100%;
  margin: auto;
  height: auto;
  /*border: 1px solid black;*/
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  scroll-behavior: smooth;
}

.card {
  margin-top: 50px;
  width: 430px;
  height: 691px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 25px 0px rgba(92, 92, 92, 0.25);
  border-radius: 5px;
  padding-top: 16px;
  position: relative;
  flex: 0 0 auto;
}

.card header {
  padding-bottom: 16px;
}

#adocao_pets .card header {
  display: flex;
  gap: 200px;
  align-items: center;
}

#adocao_pets .card header .icon-paw i {
  width: 33.58px;
  height: 28.52px;
  color: #fe49c1;
}

#adocao_pets .card header span {
  font-size: 28.67px;
}

#adocao_pets .card img {
  width: 430px;
  height: 273px;
}

.card-body h3 {
  width: 427px;
  height: 33px;
  color: #277da1;
  text-align: center;
  font-size: 24;
  font-weight: lighter;
  margin-bottom: 8px;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-weight: bold;
  font-size: 20.07px;
}

.card-body p {
  text-align: center;
  margin: auto;
  font-size: 20px;
  color: black;
  width: 396px;
  height: 162px;
}

.card button {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 390px;
  height: 55px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: #f77f00;
  border-radius: 5px;
  transition: all 0.3s;
}

.card button:hover {
  color: white;
  background-color: #c9c9c9ff;
  cursor: pointer;
}

#manual {
  position: absolute;
  top: 1200px;
  left: 50%;
  transform: translate(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
}

#manual button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #f77f00;
  background-color: white;
  color: #f77f00;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
}

#manual button:hover {
  background-color: #f77f00;
  color: white;
}

#voceSabia {
  margin: 150px auto;
  width: 90%;
  height: auto;
  background-image: url(../IMG/fundoVoceSabia.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#voceSabia .voceSabiaDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.voceSabiaDiv img {
  width: 35%;
  height: 400x;
  border-radius: 5px;
}

.voceSabiaDiv p {
  font-size: 1.5em;
  width: 60%;
  height: 400x;
  border-radius: 5px;
}

#carrousel-card{
  width: 100%;
  height: 900px;
  border: 1px solid red;
}

#confiar-section{
  background-image: url(../IMG/fundoConfiarSection.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#confiar-section .card{
  display: flex;
  align-items: center;
  justify-content:space-around;
  flex-direction: column;
  margin-top: 150px;
  box-shadow: 0px 0px 25px 0px rgba(92, 92, 92, .25);

  width: 550px;
  height: 400px;
  margin: 20px;
  padding: 32px 32px;
  transition: .3s ease-in-out;
}

#confiar-section .card img{
  width: 150px;
  height: 150px;
}

#confiar-section .card:hover{
  transition: .25s ease-in;
  border-color: #f77f00;
  border-width: 2px;
  padding-top: 0px;
 
}

#card-tittle{
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}

#card-desc{
  text-align: center;
  font-size: 1.5em;
}